<script src="~/lib/jquery/dist/jquery.min.js"></script>
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />


<div class="d-flex justify-content-end">
    <button type="button" class="btn btn-primary" id="openPopupBtn">Add Employee</button>
</div>
<div id="popupContent"></div>


<script>
    $(document).ready(function () {
        $("#openPopupBtn").click(function () {
            $.ajax({
                url: '@Url.Action("AddEmployeeDialog", "Office")',
                type: 'GET',
                success: function (data) {
                    // Load the returned partial view into a popup or a section of your page
                    $('#popupContent').html(data);
                    $('#popupModal').show();
                }
            });
        });

        // Close the popup when the close button is clicked
        $(document).on('click', '#closePopupBtn', function () {
            debugger;
            $('#popupModal').modal('hide');
        });
    });
</script>
